spring.application.name=MG_Movie

# Database Configuration
pring.datasource.url=${DATABASE_URL}
spring.datasource.username=${DATABASE_USERNAME}
spring.datasource.password=${DATABASE_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update

# Google OAuth Configuration
spring.security.oauth2.client.registration.google.client-id=your_google_client_id_here
spring.security.oauth2.client.registration.google.client-secret=your_google_client_secret_here
spring.security.oauth2.client.registration.google.scope=profile,email

# TMDB API Configuration
tmdb.api.url=https://api.themoviedb.org/3
tmdb.api.key=your_tmdb_api_key_here
